<ion-view view-title="Shopping House">
    <ion-content class="padding">
        <p align="right">Welcome! {{userName}}</p>
        <div class="list card">
            <div class="item item-divider">Seller Details</div>
            <div class="item item-body">
                <div>
                    <b>{{sellerName}}</b>
                    <br>{{sellerAddress}}
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">{{productName}}</div>
            <div class="item item-body">
                    <div>
                    <div class="list">
                      <div class="item item-icon-left" ng-repeat="value in productDetails">
                      <i class="icon ion-star"></i>
                      {{value}}
                      </div>
                    </div>
                    </div>
                    <div class="list card">
                        <div class="item item-divider">Product Image</div>
                        <div class="item item-body">
                            <div>
                                <img ng-src={{productImage}} alt="Product Image View" style="width:304px;height:228px;">
                                <div>
                                    <h3>${{productPrice}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="list card">
                    <div class="item item-divider">Purchase Product</div>
                    <div class="item item-body">
                        <div>
                            <button class="button button-block button-calm" ng-click="purchase()">Buy Product</button>
                        </div>
                    </div>
                </div>
    </ion-content>
</ion-view>
