<ion-view-title="success" name="success-view">
  <ion-content >
    
    <div>
		<br><br><br>
		<p align="right">Welcome! User</p>

    </div>
	<div>
	
<h4><pre>  Thank you! for placing order..</pre></h4>
	     
	</div>
    <div class="list card"> 
	<div class="item item-divider">Transaction Details</div>
	<div class="item item-body">
	<pre>	
<b>Your order number is</b> : 123<br>
<b>Transaction Id is</b>    : TR451<br>
<b>Transaction Amount </b>  : $42.50
	</pre>
	</div>
	</div>
		
    </div>
	<div class="list card">
		
			
		<div class="item item-divider">	*You will get your product in next 5 to 7 days.</div>
		</div>
        </div>
    <div class="list card">
      <div class="item item-divider">Seller Details</div>
      <div class="item item-body">
        <div>
          <b> B.K.Enterprices</b><br>S.B Road,<br>Mumbai 16.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Product Details</div>
      <div class="item item-body">
        <div>
          <b>1)Bulbs bright light.<br> 2)all type of tubes available with min price<br> 3)warranty of product for 10 years. </b><br>
        
    </div>
    <div class="list card">
      <div class="item item-divider">Product Image</div>
      <div class="item item-body">
        <div>
        <!--
        //local image is access here
          <img src="./../../resources/bulb.jpg" alt="Product Image View" style="width:304px;height:228px;">
        -->
        <!--
                image from web is access.
        -->

                <img src="https://climbuptheflagpole.files.wordpress.com/2016/01/34343812ae50267ad18533ac1bd10e18.jpg?w=660" alt="Product Image View" style="width:304px;height:228px;">
          <div>
                <h3>$42.50</h3>
          </div>        
        </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>
